body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
header,
footer {
  background-color: blue;
  margin: 8;
  text-align: center;
  padding: 4px;
}
h1 {
  color: white;
  text-align: center;
}
footer p {
  color: white;
}
article {
  background-color: white;
  padding: 8px;
}
section {
  display: flex;
  gap: 8px;
}
.first {
  background-color: lightblue;
  flex: 2;
  padding: 8px;
}
.second {
  flex: 1;
  padding: 4px;
  background-color: lightgreen;
}
